*.pdf
*.docx
*.odt
*.xls
*.vscode
*.xlsx
*.ipynb_checkpoints
*.doc
*.out
*.exe
*.png
*.PNG
*.gdoc
*.gif
*.jpg
10 - Curso de Dise\303\261o de Circuitos Electr\303\263nicos/
11 - Curso de IoT Protocolos de Comunicaci\303\263n/Platzi_Curso_IoT-master/
10 - Curso de Diseño de Circuitos Electrónicos/
11 - Curso de IoT Protocolos de Comunicación/Platzi_Curso_IoT-master/

